
img {
  background: url("https://tse1.mm.bing.net/th?id=OIP.6jJN2twkIy0vEBnhkKQ8wQHaI2&pid=Api&rs=1&c=1&qlt=95&w=86&h=102");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  padding-top: 40px;
   }
   p
  {
 color:blue;
}